.leaves {
    margin: 0;
    padding: 0;
}

.set {
    opacity: 0.7;
}

.set img {
    width: 150px;
}

.set div {
    position: absolute;
    display: block;
}

.set div:nth-child(1) {
    left: 25%;
    animation: leaf1 10s linear infinite;
    animation-delay: -7s;
}

.set div:nth-child(2) {
    left: 55%;
    animation: leaf1 10s linear infinite;
    animation-delay: -5s;
}

.set div:nth-child(3) {
    left: 75%;
    animation: leaf1 10s linear infinite;
}

.set div:nth-child(4) {
    left: 7%;
    animation: leaf1 10s linear infinite;
    animation-delay: -5s;
}

.set div:nth-child(5) {
    left: 90%;
    animation: leaf1 10s linear infinite;
    animation-delay: -10s;
}

.set div:nth-child(6) {
    left: 5%;
    animation: leaf1 10s linear infinite;
    animation-delay: -2s;
}

.set div:nth-child(7) {
    left: 20%;
    animation: leaf1 8s linear infinite;
    animation-delay: -2s;
    rotation: 40deg;
}

.set div:nth-child(8) {
    left: 65%;
    animation: leaf1 10s linear infinite;
    animation-delay: -4s;
}

.set div:nth-child(9) {
    left: 73%;
    animation: leaf1 6s linear infinite;
    animation-delay: -2s;
}

.set div:nth-child(10) {
    left: 13%;
    animation: leaf1 8s linear infinite;
    animation-delay: -1s;
}


@keyframes leaf1
{
    0%
    {
        opacity: 0;
        top: -10%;
        transform: translateX(10px) rotate(0deg);
    }
    10%
    {
        opacity: 1;
    }
    20%
    {
        transform: translateX(-10px) rotate(-45deg);
    }
    40%
    {
        transform: translateX(-10px) rotate(90deg);
    }
    60%
    {
        transform: translateX(10px) rotate(-135deg);
    }
    80%
    {
        transform: translateX(10px) rotate(180deg);
    }
    100%
    {
        top: 120%;
        transform: translateX(-10px) rotate(225deg);
    }

}