@import 'variables';
@import 'base';

%common {
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  padding: 14px 10px;
  outline: none;
  border-radius: 24px;
  transition: 0.25s;
}

html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  @extend %display-flex;
}

.form {
  @extend %display-flex;
  flex-direction: column;
  width: 500px;
  height: 550px;
  background-color: $background-color-darker;
  text-align: center;
  border-radius: 50px;

  .title {
    margin-bottom: 40px;

    h1 {
      color: $text-color-light;
      text-transform: uppercase;
      font-weight: 500;
      background: $background-color-darker;
    }
  }

  .content {
    @extend %display-flex;
    flex-direction: column;

    input {
      @extend %common;
      border: 2px solid $background-color-lighter;
      width: 200px;
      color: $text-color-light;
    }

    input::placeholder {
      color: $text-color-light;
    }

    input:focus {
      width: 280px;
      border-color: #34495e;
    }
  }

  .error {
    @extend %common;
    @extend %display-flex;
    flex-direction: column;
    border: 3px solid rgb(165, 0, 0);
    width: 300px;
    border-radius: 24px;
    color: $text-color-light;
  }

  .submit {
    button[type = "submit"] {
      @extend %common;
      width: 100px;
      border: 2px solid $success;
      color: $text-color-light;
      cursor: pointer;
    }

    button[type = "submit"]:hover {
      background: $success;
    }
  }
}

#tag-input-button {
  background-color: #2ecc71;
}

#tag-select-button {
  background-color: #b7950a;
}

.hide-both {
  visibility: hidden;
}

.hide-item {visibility: hidden}

.display-item {
  visibility: visible;
}
